{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases
 {:test-anthropic {:extra-paths ["test" "."]
                   :main-opts   ["-m" "tools.agents.anthropic.test-runner"]}
  :test-openai    {:extra-paths ["test" "."]
                   :main-opts   ["-m" "tools.agents.openai.test-runner"]}
  :test-gemini    {:extra-paths ["test" "."]
                   :main-opts   ["-m" "tools.agents.gemini.test-runner"]}
  :test-mcp       {:extra-paths ["test" "."]
                   :main-opts   ["-m" "tools.agents.mcp.test-runner"]}}}
